/* chỉnh sủa màn hình cho moblie, nhỏ hơn 576px, sm */
@media screen and (max-width:576px) {
  
    .nav a {
        padding: 10px;
     
        color: black;
    }
   
    .nav {
        flex-direction: column;
        height: 100%;
    }
    .nav a {
        width: 30%;  
        margin: 0; 
        border: 1px solid  rgb(219, 213, 213);
    }
    
   .info h3{
    margin-top: 0 !important;
   }
   /* .info p{
    margin: 0 !important;
   } */
   .info1 {
    height: 100%;
    
}   
.info2 {
    height: 120%;
    
}
.skill{
    margin-top: 400px;
}
.vien{
    margin-top: 35px;
}
.chungchi{
    border-bottom: 1px solid #d6c08d;
    margin-top: 15px;
    padding-right:0 !important;
    border-right: none !important;
}
.chungchi::before {
    display: none;
   
}
.duan{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* grid-template-rows: repeat(1,200px); */
    justify-content: center;
    gap: 30px;
 
}
}   